// Text
.text {
  &-purple-dark {
    color: $purple-dark;
  }
  &-carrot-red {
    color: $carrot-red;
  }
  &-review-color {
    color: $review-cold;
  }

  &-html {
    color: $html-color;
  }
  &-css {
    color: $css-color;
  }
  &-js {
    color: $js-color;
  }
  &-sass {
    color: $sass-color;
  }
  &-bs {
    color: $bs-color;
  }
  &-angular {
    color: $angular-color;
  }
  &-vue {
    color: $vue-color;
  }
  &-react {
    color: $react-color;
  }
  &-npm {
    color: $npm-color;
  }
  &-db {
    color: $mongoDB-color;
  }
  &-node {
    color: $nodeJS-color;
  }
}

.bg {
  &-purple-dark {
    background-color: $purple-dark;
  }
  &-carrot-red {
    background-color: $carrot-red;
  }
  &-purple-dark-20 {
    background-color: darken($purple-dark, 20%);
  }
  &-dark-transparent {
    background-color: rgba($color: #000, $alpha: 0.1);
  }
}

.hover {
  transition: 0.3s ease;
  color: lighten($color: #fff, $amount: 50%) !important;
  &-link:hover {
    @extend .hover;
    text-decoration: underline !important;
  }
}

@keyframes animateFadeInLeft {
  0% {
    transform: translateX(-550px);
    opacity: 0;
  }
  100% {
    transform: translateX(initial);
    opacity: 1;
  }
}

.fade-in-left {
  animation: animateFadeInLeft 2s ease;
}

.avatar {
  width: 100px;
  height: 100px;
  background: $light;
  border-radius: 50%;
}

.btn{
  &-purple{
    @extend .btn;
    background-color:$purple-dark;
    color:$light;
    &:hover{
      @extend .btn-danger;
      @extend .shadow;
    }
  }
}
